b {
    font-size: 40px;
    font-family: Copperplate, fantasy;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: rgb(46, 69, 184);
  }

  table {
    background-color: rgb(167, 167, 167);
  }